<!DOCTYPE html>
{% capture lang %}
  {% if page.language %}
    {{ page.language }}
  {% elsif site.language %}
    {{ site.language }}
  {% endif %}
{% endcapture %}
<html class="page" {% if lang %}lang={{ lang }}{% endif %}>
  <head>
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    {% include head.liquid %}
  </head>
  <body class="page__wrapper">
    {% include header.liquid %}
    {% include main.liquid %}
    {% include footer.liquid %}
  </body>
</html>